<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        Slack Alerts Setup
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
</head>
<body>
    <script src="${make_url('/config?autoload=1')}" crossorigin="use-credentials"></script>
    <script src="${make_url('/static/js/i18n.js')}"></script>
    <script src="${make_url('/i18ncatalog?autoload=1')}"></script>
    <%
    page_path = "/static/app/slack_alerts/pages/slack_alerts_setup.js"
    common_path = "/static/app/slack_alerts/pages/common.js"
    %>
    <script src="${make_url(common_path)}"></script>
    <script src="${make_url(page_path)}"></script>
</body>
</html>
